<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YTDownloader</title>
</head>
<body>
    <head>
    </head>
<div>
    <h1><center>YT Downloader</center></h1>
    <center><h2>Para Videos</h2></center>
   <center><form action="/procesar" method="POST">
    <input type="text" name="URL">
    <input type="submit" value="Descargar">
  </form></center> 

  <center><h2>Para Audio</h2></center>
   <center><form action="/procesar2" method="POST">
    <input type="text" name="URLAudio">
    <input type="submit" value="Descargar">
  </form></center> 
</div>
</body>
</html>